
<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://via.placeholder.com/100" alt="">
            <div class="profile__name">John Doe</div>
            <div class="profile__prof">Doctor</div>
        </div>
        <ul class="social">
            <li class="social__item"><a class="social__link" href="#" targen="_blank">
                <img src="assets/images/instagram.svg" alt="">
            </a></li>
            <li class="social__item"><a class="social__link" href="#" targen="_blank">
                <img src="assets/images/pinterest.svg" alt="">
            </a></li>
            <li class="social__item"><a class="social__link" href="#" targen="_blank">
                <img src="assets/images/vk.svg" alt="">
            </a></li>
        </ul>
        <div class="profile__text">
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus non omnis in cupiditate eligendi. Deleniti nobis et architecto dignissimos, tenetur, optio alias eveniet, ad quis vero sunt dolores ipsum!</p>
        </div>
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">My works</a>
        <button class="btn btn--blue" type="button">Contact me</button>
    </div>
</aside>